@font-face {
    font-family: "lugio";
    src: url("../Public/assets/Fonts/Lugio.ttf") format("opentype");
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #0f0f1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}